ul.bibliography {
    list-style-type: none;
    padding-left: 4em;
}

.bibliography .counter {
    font-weight: bold;
    min-width: 4em;
    display: inline-block;
    margin-left: -4em;
}

.bibliography .authors:after,
.bibliography .date:after,
.bibliography .address:after,
.bibliography .editors:after,
.bibliography .pages:after {
    content: ". ";
}


.bibliography .title:before {
    content: '"';
}

.bibliography .title:after {
    content: '," ';
}

.bibliography .journal:after,
.bibliography .booktitle:after,
.bibliography .publisher:after,
.bibliography .volume:after,
.bibliography .pages:after,
.bibliography .number:after {
    content: ", ";
}

.bibliography .month:after {
    content: " ";
}
