body {
    background-color: #314152;
    font-family: sans-serif, helvetica, verdana;
}

img {
  border: 1px solid #aaaaff;
  margin: 10px;
  padding: 10px;
  background-color: #eeeeff;
}

div.captionimage {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaaaff;
  background-color: #eeeeff;
}
div.captionimage img {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
div.captionimage div.caption {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	font-size: 80%;
	font-weight: bold;
}

div#mainContent {
    margin-left: auto;
    margin-right: auto;
    width: 810px;
    border: 4px solid #6587a8;
    background-color: white;
    text-align: justify;
    position: relative;
}

div#header {
    width: 800px;
    height: 140px;
    background-image: url('/weblog/static/images/headerBackground.jpg');
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    color: white;
}

div#footer {
    clear: both;
    border-top: 3px solid #6587a8;
    background-color: #97cafc;
    text-align: center;
    font-size: 75%;
    color: #314152;
}

div#footer a {
    color: #314152;
    text-decoration: none;
}
 
div#sidebar {
    float: right;
    font-size: 80%;
    width: 200px;
    background-color: white;
    margin: 5px;
}

div#blogEntries {
    padding:4pt;
}

div#commentRSSFeed {
    margin-top: 1ex;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
}

pre {
    overflow: auto;
}

span.sidebarTitle {
    text-align: center;
    display: block;
    border-bottom: 1px solid #97cafc;
    font-weight: bold;
    color: #314152;
}

div.sidebarCluster {
    margin-bottom: 2ex;
}

div.sidebarCluster > ul {
    padding-right: 1em;
}

div#sidebar ul.unbulleted {
    list-style-type: none;
    font-weight: normal;
    padding-left: 1em;
    margin: 0px;
    text-align: left;
}

div.sidebarCluster ul.bulleted {
	list-style-type: disc;
    font-weight: normal;
    padding-left: 1em;
    margin-left: 1ex;
    text-align: left;
}

li.currentCategory {
    font-weight: bold;
}
div#sidebar ul a {
    text-decoration: none;
    color: #6587a8;
 	padding-left: 0.5ex; padding-right: 0.5ex; -moz-border-radius: 4px;
    display: block;
}
div#sidebar ul a:hover {
    color: white;
    background-color: #6587a8;
}

h1#weblogTitle, h2#weblogSubtitle {
    color: white;
    font-family: helvetica, verdana;
    padding-left: 4pt;
    padding-right: 4pt;
}

div#header a {
    text-decoration: none;
    color: white;
}

div.entryHeader {
    font-size: 80%;
    margin-top: 0px;
}

h2.entryTitle a {
    text-decoration: none;
    color: black;
    margin: 0px;
}
h2.entryTitle {
    margin-top: 2pt;
    margin-bottom: 2pt;
    text-align: left;
}

/*************************/
/* comment form elements */
/*************************/
div.commentForm {
	margin-top: 20pt;
	border-top: 1px dotted black;
	padding-top: 12pt;
}

td.formField {
	text-align: left;
}

th.formTitle {
    text-align: right;
	font-size: 90%;
	font-weight: bold;
}


/* various other elements */
span.verbose {
    font-face: fixed;
    font-weight: bold;
    font-size: 80%;
}

span.program {
    font-face: fixed;
    font-weight: bold;
    font-size: 80%;
    color: blue;
}

span.pathname {
    font-face: fixed;
    font-weight: bold;
    font-size: 80%;
    color: #7f1111;
}

/* source code highlighting */
.sourceHighlight .c { color: #008800; font-style: italic } /* Comment */
.sourceHighlight .err { border: 1px solid #FF0000 } /* Error */
.sourceHighlight .k { color: #AA22FF; font-weight: bold } /* Keyword */
.sourceHighlight .o { color: #666666 } /* Operator */
.sourceHighlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.sourceHighlight .cp { color: #008800 } /* Comment.Preproc */
.sourceHighlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.sourceHighlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.sourceHighlight .gd { color: #A00000 } /* Generic.Deleted */
.sourceHighlight .ge { font-style: italic } /* Generic.Emph */
.sourceHighlight .gr { color: #FF0000 } /* Generic.Error */
.sourceHighlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.sourceHighlight .gi { color: #00A000 } /* Generic.Inserted */
.sourceHighlight .go { color: #808080 } /* Generic.Output */
.sourceHighlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.sourceHighlight .gs { font-weight: bold } /* Generic.Strong */
.sourceHighlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.sourceHighlight .gt { color: #0040D0 } /* Generic.Traceback */
.sourceHighlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.sourceHighlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.sourceHighlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.sourceHighlight .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.sourceHighlight .kt { color: #AA22FF; font-weight: bold } /* Keyword.Type */
.sourceHighlight .m { color: #666666 } /* Literal.Number */
.sourceHighlight .s { color: #BB4444 } /* Literal.String */
.sourceHighlight .na { color: #BB4444 } /* Name.Attribute */
.sourceHighlight .nb { color: #AA22FF } /* Name.Builtin */
.sourceHighlight .nc { color: #0000FF } /* Name.Class */
.sourceHighlight .no { color: #880000 } /* Name.Constant */
.sourceHighlight .nd { color: #AA22FF } /* Name.Decorator */
.sourceHighlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.sourceHighlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.sourceHighlight .nf { color: #00A000 } /* Name.Function */
.sourceHighlight .nl { color: #A0A000 } /* Name.Label */
.sourceHighlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.sourceHighlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.sourceHighlight .nv { color: #B8860B } /* Name.Variable */
.sourceHighlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.sourceHighlight .mf { color: #666666 } /* Literal.Number.Float */
.sourceHighlight .mh { color: #666666 } /* Literal.Number.Hex */
.sourceHighlight .mi { color: #666666 } /* Literal.Number.Integer */
.sourceHighlight .mo { color: #666666 } /* Literal.Number.Oct */
.sourceHighlight .sb { color: #BB4444 } /* Literal.String.Backtick */
.sourceHighlight .sc { color: #BB4444 } /* Literal.String.Char */
.sourceHighlight .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.sourceHighlight .s2 { color: #BB4444 } /* Literal.String.Double */
.sourceHighlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sourceHighlight .sh { color: #BB4444 } /* Literal.String.Heredoc */
.sourceHighlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sourceHighlight .sx { color: #008000 } /* Literal.String.Other */
.sourceHighlight .sr { color: #BB6688 } /* Literal.String.Regex */
.sourceHighlight .s1 { color: #BB4444 } /* Literal.String.Single */
.sourceHighlight .ss { color: #B8860B } /* Literal.String.Symbol */
.sourceHighlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.sourceHighlight .vc { color: #B8860B } /* Name.Variable.Class */
.sourceHighlight .vg { color: #B8860B } /* Name.Variable.Global */
.sourceHighlight .vi { color: #B8860B } /* Name.Variable.Instance */
.sourceHighlight .il { color: #666666 } /* Literal.Number.Integer.Long */
