@charset "utf-8";

body {
    padding-top: 70px;
    padding-bottom: 40px;

    font-family: verdana;
    background-image: url('/images/page-bg.png');
    background-color: rgba(0,0,0,0.2);
}

.sidebar-nav {
    padding: 9px 0;
}

.white-rounded {
    border-radius: 6px;
    background-color: white;
}

#footer-content {
    background-color: rgba(255,255,255,0.7);
    color: #444;
    margin-top: 2ex;
    padding-top: 1ex;
}

#footer-content ul {
    display: inline;
    padding-left: 0;
    margin-top: 1ex;
}

#footer-content li {
    display: inline;
}

#footer-content li a {
    min-width: 100px;
    margin-bottom: 1ex;
    font-size: 80%;
}

#footer-content p {
    text-align: center;
}

.pw-footer-social {
    text-align: center;
}

/* affiliation stuff */
div.previous-affiliations {
    text-align: center;
}

.affiliation-square {
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #a0a0a0;
    height: 172px;
    width: 172px;
    margin-bottom: 8px;
    margin-right: 4px;
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    border-radius: 10px;
}

ul.previous-affiliations {
    list-style-type: none;
    padding-left: 0px;
}

li.previous-affiliation {
    display: inline;
}
