{% extends 'theme/template_page_simple.html' %}

{% block page_title %}About My Delusional Dream{% endblock %}

{% block header_secondary_title %}About My Delusional Dream{% endblock %}

{% block content %}
    <article>
        <p>I'm a member of the governance science research team at the IBM TJ
        Watson Research Center in Yorktown Heights, NY. In short, that means
        that I do research at IBM to understand how we can make software
        developers more productive. It's an awesome job and it's humbling to
        know that I work with Nobel Prize winners, members of the National
        Academies, and winners of the National Medal of Technology. In short,
        they're a lot smarter than I am.</p>
        <p>As an IBMer, I've got to put a disclaimer up. This weblog has
        items that go back to when I was an undergrad. Sometime in 2007 I
        made the conscious decision to self-censor a number of posts of
        controversial posts. It's not a decision I'm particularly proud of,
        but I did and wrote some pretty stupid stuff when I was younger.
        Anyway, the opinions on this web page are my own an do not
        necesarily represent those of International Business Machines
        or its subsidiaries. Blah. Blah. Blah.</p>
        <h2>Comment Policy</h2>
        <p>As the proprietor of this site please understand that I
        exercise complete control over who gets to say what on this website.
        If you decide to post an insentive, insulting, spammy, or even
        just a stupid comment I have the right to mock you, delete your
        comment, or do whatever else I feel like. This website isn't a
        democracy and you don't have Freedom of Speech here.</p>
        <p>By submitting comments to this website you give me a worldwide
        non-exclusive license to reproduce, mock, modify, and do whatever I
        want with your comment in perpetuity. Yes, this means that if I
        ever wrote something that got a lot of comments I could compile
        them into a book and sell them. If you post a comment that turns into
        then next "<a href="http://en.wikipedia.org/wiki/Rome_Sweet_Rome">Rome Sweet Rome</a>,
        I can try to commercialize it. This doesn't stop you from exploiting your
        posts, it's just that I get a license to them and can exploit them once
        you submit them. It's pretty simple and straightforward agreement, right?
        </p>
    </article>
{% endblock %}
