/*
 * overall default colors
 * listed here for convenience
 *
 * light border color: #aaaaaa
 * preformatted background: #ffffcc;
 */

body {
	font-family: sans;
	margin: 0px;
}

h1 {
	color: #00003f; 
	text-align: center;
	margin-bottom: 0px;
	background-color: #ecec9b;
	border: solid 2px #a96;
	margin-top: 35px;
	margin-bottom: 10px;
}

h2 {
	font-size: 125%;
	font-weight: bold;
	color: #00003f;
	border-bottom: dotted 1px #aaaaaa;
	margin-bottom: -0.5em;
}

h3 {
	font-size: 110%;
	font-weight: bold;
	color: #00003f;
	border-bottom: dotted 1px #aaaaaa;
}

h2.blogDate {
	text-align: left;
	font-size: 150%;
	font-weight: bold;
	background-color: #ecec9b;
	border: 1px solid #a96;
	border-left: 8px solid #a96;
	padding-left: 1ex;
}

div.blogEntryLinks {
	text-align: left;
	font-size: 80%;
	margin-bottom: 2em;
}

ul.technoratiTags {
	margin: 0px;
	list-style-type: none;
	text-align: right;
	padding: 0;
}

span.technoratiTagsLabel {
	font-weight: bold;
	border-bottom: thin solid #a96;
	display: block;
}

span.technoratiTags {
	font-size: 80%;
	background-color:#ecec9b;
	border: thin solid #a96;
	padding-left: 1em;
	padding-right: 1em;
	-moz-border-radius: 1em;
	float: right; 
	text-align: center;
	margin: 1em;
}

a {
	color: #00009f;
	text-decoration: underline;
}

a:visited {
	color: #00003f;
	text-decoration: underline;
}

a:hover {
	background: #ffff77;
}

.infobox {
	/* background-color: #ddddff;
	border: 1px solid black; 
	padding-top: -20px; */
	margin-top: 0em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}

.infoboxSub {
	margin: 1em;
}

img.margin10pxright {
	margin-right: 10px;
}

div.menubar {
	left: 0px;
	position: absolute;
	width: 100%;
	top: 0px;
	border-bottom: 2px dotted #aaaaaa;
	background: #ecec9b;
	text-align: right;
}

div.mainbody {
	position: absolute;
        top: 20px;
        right: 210px;
	left: 0px;
	margin-left: 0px;
	padding-left: 1em;
	padding-right: 1em;
	border-right: solid 1px #aaa;
}

div.sidebar {
	position: absolute;
	right: 0px;
	margin-left: 2em;
	top: 20px;
	width: 195px;
	list-style-type: none;
	padding-left: 15px;
	font-size: 80%;
	border-left: solid 1px #aaa;
}

div.blogEntry {
	text-align: justify;
}

ul.sidebar {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

ul.sidebarSmall {
	text-transform: uppercase;
	font-size: 50%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

div.sidebarTitle {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}


a.buttonLink {
	color: white;
	text-decoration: none;
}

a.buttonLink:hover {
	background: none;
	color: yellow;
}

.blueButton {
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-decoration:none;
	color: white;
	background-color: #039;
	border-left:2px solid #36C;
	border-top:2px solid #36C;
	border-right:2px solid #036;
	border-bottom:2px solid #036;
	padding:0px 3px 0px 3px;
	margin:3px 0px 3px 0px;
	text-align: center;
	width: 6em;
}

.blueButton:hover {
	background-color: #028;
	border-right:2px solid #36C;
	border-bottom:2px solid #36C;
	border-left:2px solid #036;
	border-top:2px solid #036;
}

.rssButton {
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-decoration:none;
	color: white;
	background-color: #f60;
	border-left:2px solid #C96;
	border-top:2px solid #CA9;
	border-right:2px solid #930;
	border-bottom:2px solid #310;
	padding:0px 3px 0px 3px;
	margin:3px 0px 3px 0px;
	text-align: center;
	width: 6em;
}

.rssButton:hover {
	background-color: #d50;
	border-right:2px solid #C96;
	border-bottom:2px solid #CA9;
	border-left:2px solid #930;
	border-top:2px solid #310;
}

.txtButton {
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-decoration:none;
	color: white;
	background-color: #090;
	border-left:2px solid #0C0;
	border-top:2px solid #0F0;
	border-right:2px solid #060;
	border-bottom:2px solid #030;
	padding:0px 3px 0px 3px;
	margin:3px 0px 3px 0px;
	text-align: center;
	width: 6em;
}

.txtButton:hover{
	background-color: #080;
	border-right:2px solid #0C0;
	border-bottom:2px solid #0F0;
	border-left:2px solid #060;
	border-top:2px solid #030;
}

pre {
	background: #ffffdd;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #aaaaaa;
	padding-left: 1ex;
	overflow: auto;
}


/*
 * stuff for the calendar
 */
.calendar {
	text-align: center;
}

.calendarDay {
	background: #ffffee;
	border: solid 1px #eeeeee;
	-moz-border-radius: 5px;
}

.calendarDayLink {
	background: #ffffee;
	border: solid 1px #eeeeee;
	-moz-border-radius: 5px;
}

.calendarDayLink:hover {
	background: #ffff77;
	border-color: #aaaaaa;
}

.calendarDayToday {
	background: #aaccaa;
	border: solid 1px #aaaaaa;
	-moz-border-radius: 5px;
}

.calendarDayTodayLink:hover {
	background: #ffff77;
	border-color: #aaaaaa;
}

.calendarDayTodayLink {
	background: #aaccaa;
	border: solid 1px #aaaaaa;
	-moz-border-radius: 5px;
}

.calendarDayCurrent {
	background: #cccccc;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;
}

.calendarDayCurrentLink:hover {
	background: #ffff77;
	border-color: #aaaaaa;
}

.calendarDayCurrentLink {
	background: #cccccc;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;
}

.calendarDayHeader {
	font-weight: bold;
	width: 2ex;
}

.calendarTitle {
	text-transform: uppercase;
	font-weight: bold;
}

.calendarHeader {
	border: 2px solid #ff0000;
}

.verbatim {
	font-family: courier;
	font-weight: bold;
	font-size: 80%;
	background: #fef;
	border: 1px solid #aaa;
    -moz-border-radius: 3px;
}

blockquote {
	border: 1px solid #aaaaaa;
	padding: 2px;
	background: #dfd;
}


.imageStrip {
	text-align: center;
	background-color: #fff3f9;
	border: thin solid #aaa;
	-moz-border-radius: 10px;
	margin: 0.5em;
	padding: 0.5em;
}

div.imageStrip a p.imageCaption{
  text-decoration: underline;
}


div.imageStrip p {
  vertical-align: top;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  display: table-cell;
  padding: 0px;
  margin: 0px;
}

div.imageStrip a:hover img {
  border-color: #ffff77;
}
                                                                               
div.imageStrip p + p {
  vertical-align: top;
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-top: -0.3em;
}
