	body {
		margin:0px 0px 20px 0px;
		background:#cccccc;		
		}
	a,
	a:link,
	a:visited,
	a:active {
		color: #003366; 
		text-decoration: underline; 
	}
	
	A:hover { 
		color: #444444; 
		background-color: #ffffdc;
		border-top: solid 1px #000000;
		border-bottom: solid 1px #000000;
		text-decoration: none; 
	 }

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	#banner {
		font-family: arial, sans-serif;
		color:#333;
		font-size:large;
		font-weight:bold;
		padding:2px;
		border-bottom: 2px dotted #990000;
		background: #aaaaaa;
		margin-bottom: 5px;
		}

	#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active {
		font-family: arial, sans-serif;
		font-size: large;
		font-weight: bold;
		color: #990000;
		text-decoration: none;
		background-color: #aaaaaa;
		border: none;
	}

	#banner a:hover {
		text-decoration: underline;
	}

	.description {
		font-family: times new roman, serif;
		color:#000;
		font-weight: bold;
		}
				
	#content {
		position:absolute;
		background:#FFF;
		margin-top: 3px;
		margin-right:20px;
		margin-left:225px;
		margin-bottom:20px;
		border:1px solid #990000;	
		}

	#container {
		background:#FFF;
		border:1px solid #990000;
		margin-left: 20px;
		margin-right: 20px;
		}

	#links {	
		padding-left:8px;
		margin-top: 8px;
		width:209px;
		}
		
	.blog {
  		padding:15px;
		background:#FFF; 
		}

	.blogbody {
		font-family: helvetica, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:130%;
		}

	.blogbody pre {
		line-height: 100%;
		background-color: #e5ffe5;
		width: 96%;
		border: solid 1px #000000;
		margin-left: 2%;
		padding: 5px;
		align: center;
	}

	.title	{
		font-family: helvetica, arial, sans-serif;
		font-size: large;
		font-weight: bold;
		color: #666;
		text-align: center;
		border: solid 1px #000000;
		background-color: #ffeedd;
		padding: 5px;
		}			

	#menu {
  		margin-bottom:15px;
		background:#FFF;
		text-align:center;
		}		

	.date	{ 
		font-family: helvetica, arial, sans-serif;
		font-size: large; 
		color: #333; 
		border-bottom:1px solid #999;
		margin-bottom:10px;
		font-weight:bold;
		text-align: right;
		}			
		
	.posted	{ 
		font-family: helvetica, arial, sans-serif; 
		font-size: x-small; 
		color: #000000; 
		margin-bottom:25px;
		}
		
		

	.sidebarbox {
		border: 1px solid #990000;
		background: #ffffff;
	}

	.calendar {
		font-family: helvetica, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;
                text-align:left;
		}
	
	.calendarhead {	
		font-family: helvetica, arial, sans-serif;
		color:#666600;
		font-size:small;
		font-weight:bold;
  		padding:2px;
		letter-spacing: .1em;
  		background:#FFF;
  		text-transform:uppercase;
		text-align:left;
		border-bottom: 1px dotted #990000;
		}	
	
	.side {
		font-family:helvetica, arial, sans-serif;
		color:#333;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;				
		}	
		
	.sidetitle {
		font-family: helvetica, arial, sans-serif;
		color:#666600;
		font-size:small;
		font-weight:bold;
  		padding:2px;
  		margin-top:30px;
		letter-spacing: .1em;
  		background:#FFF;
  		text-transform:uppercase;
		border-bottom: 1px dotted #990000;
		}		
	
	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;		
  		line-height:140%;
  		padding:2px;
  		margin-top:15px;
  		background:#FFF;  		
 		}	
		
	.powered {
		font-family:palatino, georgia, times new roman, serif;
		color:#666;
		font-size:x-small;		
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:50px;
		letter-spacing: .2em;					
  		background:#FFF;		
		}	
		
	
	.comments-body {
		font-family: helvetica, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		

	.comments-post {
		font-family: helvetica, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;		
		}	
			
	
	.trackback-url {
		font-family: helvetica, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding:5px;		
 		border:1px dotted #999; 					
		}


	.trackback-body {
		font-family: helvetica, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		

	.trackback-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
  		background:#FFF;		
		}	

		
	.comments-head	{ 
		font-family: helvetica, arial, sans-serif; 
		color: #666; 
		border-bottom:1px solid #999;
		margin-top:20px;
		font-weight:bold;
  		background:#FFF;		
		}		

	#banner-commentspop {
		font-family:palatino, georgia, verdana, arial, sans-serif;
		color:#FFF;
		font-size:large;
		font-weight:bold;
		border-left:1px solid #FFF;	
		border-right:1px solid #FFF;  		
		border-top:1px solid #FFF;  		
  		background:#003366;
  		padding-left:15px;
  		padding-right:15px;
  		padding-top:5px;
  		padding-bottom:5px;  		  		  			 
		}