body {
    font-family: verdana;
    background-image: url('../images/page-bg.gif');
    background-color: rgba(0,0,0,0.2);
}

.white-rounded {
    border-radius: 6px;
    background-color: white;
}

#footer-content {
    background-color: rgba(255,255,255,0.7);
    color: #444;
    margin-top: 2ex;
    padding-top: 1ex;
}

#footer-content ul {
    display: inline;
    padding-left: 0;
    margin-top: 1ex;
}

#footer-content li {
    display: inline;
}

#footer-content li a {
    min-width: 150px;
    margin-bottom: 1ex;
}

.pw-footer-social {
    text-align: center;
}