<section>
    <p>I'm a software engineering researcher at the IBM TJ Watson Research
    Center in Yorktown Heights, NY. For more information about what I do
    for my day job check out <a href="http://academic.patrick.wagstrom.net/">my academic home page</a>.
    These writings and opinions on this site are my own and do not reflect
    those of IBM...duh.</p>
    <hr/>
    <nav>
        <ul>
            <li><a href="{{ urlname('about') }}">about</a></li>
            <!-- <li><a href="{{ urlname('themes') }}">themes</a></li> -->
        </ul>
    </nav>
</section>

{% include 'snippets/_search.html' ignore missing %}
{% include 'snippets/_feed_links.html' ignore missing %}
{% include 'snippets/_twitter.html' ignore missing %}
