          <ul class="unbulleted" id="categoryList">
          #for category in $catList
            #if $getVar("currentCategory","") and ($category == $currentCategory or $category in $currentCategory.parents())
              <li onclick="parent.location='$CGI_URL/$category.fullParents()';" class="currentCategory"><a href="$CGI_URL/$category.fullParents()">$category.name</a>
                #if $category.children
                  #set global $catList=$category.children
                  #include $TEMPLATE_DIR+"/categories.html"
                #end if
              </li>
            #else
              <li onclick="parent.location='$CGI_URL/$category.fullParents()';"><a href="$CGI_URL/$category.fullParents()">$category.name</a></li>
            #end if
          #end for
          </ul>
