      <div class="entry">
        <h2 class="entryTitle"><a href="$CGI_URL/$entry.permalink()">$entry.title</a></h2>
        <div class="entryHeader">
          Posted to <a href="$CGI_URL/$entry.category.fullParents()">$entry.category.fullParents()</a> on $entry.publishDate<br/>
          #if $entry.tags
            <span class="entryTags">Tags: #for tag in $entry.tags
            <a href="$CGI_URL/tags/$tag.encodedName()">$tag.name</a> #end for #</span>
          #end if
        </div>
        <div class="entryBody">
          $entry.translatedBody
        </div>
        <div class="entryFooter">
          #if not($singleEntry)
             <a href="$CGI_URL/$entry.permalink()#comments">$len($entry.comments) comments</a> | <a href="$CGI_URL/$entry.permalink()">permalink</a>
          #end if
        </div>
        #if $singleEntry
        <hr/>
        <a name="comments"></a>
        #if len($entry.comments)
        <div class="entryComments">
          <h2>Comments</h2>
            #for comment in $entry.comments
              <a name="comment$comment.id"/>
              <div class="comment">
                <b>Comment From
                  #if $comment.url
                    <a href="$comment.url" rel="nofollow">$comment.name</a>
                  #else 
                    $comment.name
                  #end if
                  at $comment.createDate</b>
                <div class="comment-body">$comment.translatedBody</div>
              </div>
            #end for
        </div>
        #end if
        <div id="commentRSSFeed"><a href="http://$SERVER_NAME$CGI_URL/$entries[0].permalink()/index.rss">RSS Feed For Comments</a></div>

        <div class="commentForm">
		  <h2>Add Your Own Comment</h2>
          <form action="$CGI_URL/form/addComment" method="post">
            <table>
              <tr>
                <th class="formTitle">Your Name:</th>
                <td class="formField"><input size="40" name="yourName" type="text"/></td>
              </tr>
              <tr>
                <th class="formTitle">URL:</th>
                <td class="formField"><input size="40" name="url" type="text"/></td>
              </tr>
              <tr>
                <th class="formTitle">Email (not published):</th>
                <td class="formField"><input size="40" name="email" type="text"/></td>
              </tr>
              <tr>
                <th class="formTitle">3.14 is closest to what integer?</th>
                <td class="formField"><input size="40" name="answer" type="text"/></td>
              </tr>
              <tr>
                <th class="formTitle">Comments:</th>
                <td class="formField"><textarea cols="70" rows="20" name="commentBody"></textarea></td>
              </tr>
              <tr>
                <td colspan="2">
                  <input value="$entry.id" name="entryID" type="hidden"/>
                  <input value="Add Comment" type="submit"/>
                </td>
              </tr>
            </table>
          </form>
        </div>
        #end if
        <hr/>
      </div>
