<html>
  <head>
    <title>$getVar("pageTitle",$weblog.title)</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="$CSS_PREFIX/poststreet.css">
    <!-- GOOGLE Analytics Stuff -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3441054-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script><!--End Google Analytics -->
    #if $actions and not($singleEntry)
      <link rel="alternate" title="subcategory RSS" href="http://$SERVER_NAME$CGI_URL$actions/index.rss" type="application/rss+xml">
    #else
      <link rel="alternate" title="yummy yummy RSS" href="http://$SERVER_NAME$CGI_URL/index.rss" type="application/rss+xml">
    #end if
  </head>
  <body onload="document.getElementById('blogEntries').style.height = Math.max(document.getElementById('blogEntries').clientHeight, document.getElementById('sidebar').clientHeight+2)+'px';">
    <div id="mainContent">
      <div id="header">
        <h1 id="weblogTitle"><a href="$CGI_URL">$weblog.title</a></h1>
        <h2 id="weblogSubtitle"><a href="$CGI_URL">$weblog.subtitle</a></h2>
      </div>
      <div id="sidebar">
        <div class="sidebarCluster" id="ResourcesDiv">
          <span class="sidebarTitle">Resources</span>
          <ul class="unbulleted">
            <li><a href="/weblog/meta/about-me.html">About Me</a></li>
            <li><a href="http://patrick.wagstrom.net/">My Home Page</a></li>
          </ul>
        </div>
        #if $getVar("topLevelCategories","")
          <div class="sidebarCluster" id="allCategoriesDiv">
            <span class="sidebarTitle">Categories</span>
            #set global $catList = $topLevelCategories
            #include $TEMPLATE_DIR+"/categories.html"
          </div>
        #end if
        #if $getVar("topEntries", "")
          <div class="sidebarCluster" id="topEntriesDiv">
             <span class="sidebarTitle">Popular Entries</span>
             <ul class="bulleted" id="topEntries">
                #for entry in $topEntries
                    <li><a href="$CGI_URL/$entry.permalink()">$entry.title</a></li>
                #end for
             </ul>
          </div>
          #end if
        ## add in the stuff for google reader
        <script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
        <script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/12938716984043319513/state/com.google/broadcast?n=5&callback=GRC_p(%7Bc%3A%22slate%22%2Ct%3A%22My%20shared%20items%22%2Cs%3A%22false%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
      </div>
      <div id="blogEntries">
